.logo {
    width: 100px;
    height: 140px;
}

.navbar-default, .navbar-collapse{
    border: none !important;
}

.navbar {
    background-image: url('../src/images/wood.jpg');
    background-size: cover;
    height: 100px;
}

.navbar-nav>li>a{
    color: white !important;
    padding-top: 35px !important;
    font-family: 'Lobster Two', cursive !important;
    font-size: 30px;
}